{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block page_title %}{{ title }}{% endblock %}

{% block body %}
<div style="max-width:580px">
<div style="background:#fff;border-radius:14px;border:1px solid #e5e7eb;padding:32px">
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

    <div class="mb-3">
        <label class="form-label" style="font-size:13px;font-weight:600;color:#374151">Nom</label>
        {{ form_widget(form.nom, {'attr': {'class': 'form-control', 'placeholder': 'Ex: Dupont', 'style': 'border-radius:8px;font-size:14px;padding:10px 14px'}}) }}
        {{ form_errors(form.nom) }}
    </div>
    <div class="mb-3">
        <label class="form-label" style="font-size:13px;font-weight:600;color:#374151">Prénom</label>
        {{ form_widget(form.prenom, {'attr': {'class': 'form-control', 'placeholder': 'Ex: Jean', 'style': 'border-radius:8px;font-size:14px;padding:10px 14px'}}) }}
        {{ form_errors(form.prenom) }}
    </div>
    <div class="mb-3">
        <label class="form-label" style="font-size:13px;font-weight:600;color:#374151">Email</label>
        {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'exemple@email.com', 'style': 'border-radius:8px;font-size:14px;padding:10px 14px'}}) }}
        {{ form_errors(form.email) }}
    </div>
    <div class="mb-4">
        <label class="form-label" style="font-size:13px;font-weight:600;color:#374151">Spécialité</label>
        {{ form_widget(form.specialite, {'attr': {'class': 'form-control', 'placeholder': 'Ex: Informatique', 'style': 'border-radius:8px;font-size:14px;padding:10px 14px'}}) }}
        {{ form_errors(form.specialite) }}
    </div>
    <div class="mb-4">
    <label class="form-label" style="font-size:13px;font-weight:600;color:#374151">Photo</label>
    {% if form.vars.data.photo %}
        <div class="mb-2">
            <img src="{{ asset('uploads/photos/' ~ form.vars.data.photo) }}" style="width:80px;height:80px;border-radius:50%;object-fit:cover;border:2px solid #e5e7eb">
        </div>
    {% endif %}
    {{ form_widget(form.photoFile, {'attr': {'class': 'form-control', 'style': 'border-radius:8px;font-size:14px'}}) }}
    {{ form_errors(form.photoFile) }}
</div>
    <div class="d-flex gap-2">
        <button type="submit" class="btn btn-primary px-4" style="border-radius:8px;font-size:14px">
            <i class="ti ti-device-floppy"></i> Enregistrer
        </button>
        <a href="{{ path('app_enseignant_index') }}" class="btn btn-outline-secondary px-4" style="border-radius:8px;font-size:14px">
            <i class="ti ti-x"></i> Annuler
        </a>
    </div>
    {{ form_end(form) }}
</div>
</div>
{% endblock %}